n8n/demo-data/workflows/AI_Personal_Agent.json
{
  "createdAt": "2025-02-01T22:38:26.182Z",
  "updatedAt": "2025-03-12T12:10:45.701Z",
  "id": "FdgBv5C9S99pLEsP",
  "name": "AI Personal Agent",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "99303125-bc9f-4f4f-9a94-0c19fd30cd01",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        60,
        120
      ],
      "webhookId": "5bb663d3-3f7e-42c3-b92e-479589e008a0",
      "credentials": {
        "telegramApi": {
          "id": "CNeGEndmVitZ5dYS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1H-oBH3u0GXi7hhm8gXrh7pCjOjB4JwMB",
          "mode": "list",
          "cachedResultName": "Supabase Agent",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1H-oBH3u0GXi7hhm8gXrh7pCjOjB4JwMB"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "795d4d83-6d92-4b00-b664-da0578f8dfe3",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -340,
        940
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1H-oBH3u0GXi7hhm8gXrh7pCjOjB4JwMB",
          "mode": "list",
          "cachedResultName": "Supabase Agent",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1H-oBH3u0GXi7hhm8gXrh7pCjOjB4JwMB"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "3288928c-0178-4542-9bf5-a21f55aa1eec",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -340,
        1140
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "b5a4a51f-e153-4863-8553-8432d9f67c24",
      "name": "Delete Old Files",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        300,
        1040
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29e4dec2-8793-42dd-9e2a-e14bf35df22b",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f77db197-f123-4bd4-ba51-572a77c0bcbc",
      "name": "Set File Id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        100,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "695f0d73-ee88-4c6e-ba73-0d964e61e727",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        820,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File Id').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "64d68416-b6bd-40d9-ad39-b327fbabeafa",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        580,
        1040
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d8a3a8e5-a5f2-4ddd-8196-9cc2db583030",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        1100,
        1280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a14bdb37-fb67-4215-b36f-b95613bf17e1",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1280,
        1280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "00f064a3-634e-4049-8511-6e63b21c6766",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        140,
        360
      ],
      "credentials": {
        "openAiApi": {
          "id": "2nWeUvJiasxqC4dI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "documents",
        "description": "Contains documents about Justas, his videos, his personal information and everything that is relevant to his followers."
      },
      "id": "8a071550-2b9c-4a09-a8de-f6193fb71d94",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        700,
        340
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2b19fce3-88d7-4df9-b084-f2be8a0bf70a",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        960,
        520
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bcbb8846-8476-40cf-8d94-5f06e8c82b8a",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        700,
        680
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}",
        "contextWindowLength": 20
      },
      "id": "53465152-b795-47cc-9ec0-27225088743f",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        360,
        380
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5be878be-91cb-4b28-bc32-a603de0eba28",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1280,
        1500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/Z5LgrUSsJggzJWKmXdYC",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_fb6b82ea0acf213af3099700a31c84696c95ce6d0ad3cf83"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "use_speaker_boost",
              "value": "true"
            },
            {
              "name": "stability",
              "value": "50"
            },
            {
              "name": "similarity_boost",
              "value": "50"
            },
            {
              "name": "style",
              "value": "50"
            },
            {
              "name": "model_id",
              "value": "eleven_multilingual_v2"
            }
          ]
        },
        "options": {}
      },
      "id": "c85ccbe0-efe7-4b86-968f-28390b063714",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        120
      ]
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "6690803440",
        "binaryData": true,
        "binaryPropertyName": "=data",
        "additionalFields": {
          "fileName": "answer.mpga"
        }
      },
      "id": "53849a9b-47c8-4a5e-a58e-cac7117e0b55",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        120
      ],
      "webhookId": "834b60f5-01b1-434a-a2a7-40c02e79d1dc"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "4bc5a7ec-f548-4c7b-9ce6-a9911a45425e",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        420,
        540
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "# Role\nYou are Justas Vee, an AI and automation specialist dedicated to helping businesses optimize their operations. You also create engaging YouTube content about AI automation tools like n8n and Make.com.\n\n# Objective\nYour primary task is to answer user queries based on information in the provided documents. Your responses should always be friendly, cheerful, and conversational, mirroring how a human would naturally speak.\n\n# Guidelines\n- Human Tone: Your responses must sound fluent, personable, and distinctly human—avoid formal language, lists, or structured formatting.\n- Conciseness: Keep answers brief and to the point while remaining friendly and engaging.\nAuthenticity: Never fabricate information. Always reference the - Vector Store tool for answers. If the answer isn’t available, admit it honestly.\n- Identity: Do not disclose being an AI or assistant. Present yourself as Justas Vee, the automation specialist.\n\n#Important Notes\n\nMaintain a conversational flow—no numbered lists, extra whitespace, or formatting breaks.\nAvoid referencing sources or revealing document origins.\nStay personable, concise, and professional in every interaction."
        }
      },
      "id": "11934040-6676-4951-950c-ba296cd4ae97",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        520,
        20
      ]
    },
    {
      "parameters": {
        "content": "## AI Persona Agent",
        "height": 845.7156680241662,
        "width": 1353.4855273107335
      },
      "id": "3c9ca0bd-a324-4860-8c21-8280b68fd524",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## AI Agent knowledge management\n",
        "height": 785.6061243590693,
        "width": 1939.4076810947834,
        "color": 4
      },
      "id": "c5601605-d4b1-4b4e-9b30-ffb65c507669",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        880
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "913d7f2e-13f2-47ee-8177-0b52b7f6ae3e",
      "name": "Supabase Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1180,
        1040
      ]
    },
    {
      "parameters": {
        "content": "## AI Persona Agent",
        "height": 845.7156680241662,
        "width": 1353.4855273107335
      },
      "id": "b343db3b-3f5b-4364-8f2c-f8da52a2d3b5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "File Updated": {
      "main": [
        [
          {
            "node": "Set File Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Set File Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Files": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File Id": {
      "main": [
        [
          {
            "node": "Delete Old Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5beef04b-f331-4666-8d21-4727b3d8accf",
  "triggerCount": 0,
  "tags": []
}